<html>
  <head>
    <title>Decaf Sucks</title>
    <%= stylesheet_tag "app" %>
  </head>
  <body>
    <% if flash[:alert] %>
      <div class="flash">
        <p><%= flash[:alert] %></p>
      </div>
    <% end %>
    <% if flash[:notice] %>
      <div class="flash">
        <p><%= flash[:notice] %></p>
      </div>
    <% end %>
    <%= yield %>
    <%= javascript_tag "app" %>
  </body>
</html>
