<h1>Write a review</h1>

<% if (base = Array(errors[:base])).any? %>
  <ul>
    <% base.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for(routes.path(:reviews)) do |f| %>
  <div>
    <%= f.label "cafe_name" %>
    <%= f.text_field "cafe_name" %>
    <% Array(errors[:cafe_name]).each do |msg| %>
      <span><%= msg %></span>
    <% end %>
  </div>

  <div>
    <%= f.label "cafe_address" %>
    <%= f.text_field "cafe_address" %>
    <% Array(errors[:cafe_address]).each do |msg| %>
      <span><%= msg %></span>
    <% end %>
  </div>

  <div>
    <%= f.label "Review", for: "body" %>
    <%= f.text_area "body", rows: 6 %>
    <% Array(errors[:body]).each do |msg| %>
      <span><%= msg %></span>
    <% end %>
  </div>

  <div>
    <label><%= f.check_box "like" %> ♥ Like this cafe</label>
  </div>

  <fieldset>
    <legend>How was the coffee?</legend>
    <label><%= f.radio_button "good_cup", "true" %> Good cup</label>
    <label><%= f.radio_button "good_cup", "false" %> Bad cup</label>
    <% Array(errors[:good_cup]).each do |msg| %>
      <span><%= msg %></span>
    <% end %>
  </fieldset>

  <details>
    <summary>Add a visit date</summary>

    <div>
      <%= f.label "Date of visit", for: "visited_on" %>
      <%= f.date_field "visited_on" %>
      <% Array(errors[:visited_on]).each do |msg| %>
        <span><%= msg %></span>
      <% end %>
    </div>
  </details>

  <%= f.submit "Post review" %>
<% end %>
